<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>使い方</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="usage">
    <p [ngStyle]="bs.styleUsageP">
      このアプリは、暗記したい文章がある時に、それを暗記できるようにサポートします。
    </p>
    <p [ngStyle]="bs.styleUsageP">
      たとえば、古典、経典、<ruby>
        詩歌
        <rt>しいか</rt> </ruby
      >、スピーチ原稿、台本などの文章を、暗記・<ruby>
        暗誦
        <rt>あんしょう</rt> </ruby
      >したい時に、このアプリを使ってトレーニングすることができます。
    </p>
    <p [ngStyle]="bs.styleUsageP">試験勉強にもお使いいただけます。</p>
    <p [ngStyle]="bs.styleUsageP">
      このアプリでは、登録された文章が黒塗りで表示されます。黒塗りの位置を、先頭から末尾まで、少しずつ移動しながら暗記していきます。
    </p>
    <p [ngStyle]="bs.styleUsageP">
      <a
        [ngStyle]="bs.styleUsageLiA"
        routerLink="/usage-view"
        routerLinkActive="current"
        >「<ruby>白板<rt>はくばん</rt></ruby
        >」画面</a
      >では、暗記したい文章を、手を動かして書くことにより、より確実に暗記できるようになります。
    </p>
    <p><br /></p>
    <hr [ngStyle]="bs.styleUsageHr" />
    <h2 [ngStyle]="bs.styleUsageH2">文字の拡大／縮小</h2>
    <p [ngStyle]="bs.styleUsageP">
      この「使い方」画面の文字が小さくて読みにくい場合は、&nbsp;<img
        src="assets/png/fig06.png"
        width="27px"
        height="27px"
        style="border: solid 1px gray"
      />&nbsp;をタップして、メニュー画面で「文字拡大」をタップすると、文字が拡大されます。「文字拡大」／「文字縮小」を何度かタップして、読みやすい文字サイズに調整してください。
    </p>
    <p><br /></p>
    <hr [ngStyle]="bs.styleUsageHr" />
    <h3 [ngStyle]="bs.styleUsageH3">《目次》</h3>
    <ul>
      <li>
        <a
          [ngStyle]="bs.styleUsageLiA"
          routerLink="/usage-list"
          routerLinkActive="current"
          >文書一覧画面</a
        >
      </li>
      <li>
        <a
          [ngStyle]="bs.styleUsageLiA"
          routerLink="/usage-doc"
          routerLinkActive="current"
          >文書登録画面</a
        >
      </li>
      <li>
        <a
          [ngStyle]="bs.styleUsageLiA"
          routerLink="/usage-view"
          routerLinkActive="current"
          >文書表示画面</a
        >
      </li>
    </ul>
    <p></p>
    <table class="fTbl">
      <tr>
        <td style="text-align: right">
          <a
            [ngStyle]="bs.styleUsageLiA"
            routerLink="/usage-list"
            routerLinkActive="current"
            >文書一覧画面 &gt;</a
          >
        </td>
      </tr>
    </table>
  </div>
  <p>&nbsp;</p>
</ion-content>
