<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="base">
    <ion-item>
      <ion-label [ngStyle]="bs.styleInput" position="stacked"
        >タイトル</ion-label
      >
      <ion-input
        [ngStyle]="bs.styleInput"
        [(ngModel)]="name"
        maxlength="150"
      ></ion-input>
    </ion-item>
    <div class="frame">
      <ion-item>
        <ion-textarea
          [ngStyle]="bs.styleInput"
          rows="13"
          placeholder="テキスト"
          [(ngModel)]="text"
        ></ion-textarea>
      </ion-item>
    </div>
    <ion-segment style="margin-top: 6px" mode="ios" [(ngModel)]="vertical">
      <ion-segment-button value="1">
        <ion-label [ngStyle]="bs.styleInput">横書き表示</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label [ngStyle]="bs.styleInput">縦書き表示</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-item>
      <ion-label [ngStyle]="bs.styleInput">フォントサイズ</ion-label>
      <ion-select
        [ngStyle]="bs.styleInput"
        interface="popover"
        [(ngModel)]="sz"
      >
        <ion-select-option value="14">14pt</ion-select-option>
        <ion-select-option value="16">16pt</ion-select-option>
        <ion-select-option value="18">18pt</ion-select-option>
        <ion-select-option value="20">20pt</ion-select-option>
        <ion-select-option value="22">22pt</ion-select-option>
        <ion-select-option value="24">24pt</ion-select-option>
        <ion-select-option value="26">26pt</ion-select-option>
        <ion-select-option value="28">28pt</ion-select-option>
        <ion-select-option value="30">30pt</ion-select-option>
        <ion-select-option value="32">32pt</ion-select-option>
        <ion-select-option value="34">34pt</ion-select-option>
        <ion-select-option value="36">36pt</ion-select-option>
        <ion-select-option value="38">38pt</ion-select-option>
        <ion-select-option value="40">40pt</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button [ngStyle]="bs.styleBtn" expand="block" (click)="save()">
      <ion-icon slot="start" name="save"></ion-icon>保存・更新する
    </ion-button>
    <ion-button
      *ngIf="showDelete"
      [ngStyle]="bs.styleBtn"
      expand="block"
      (click)="back()"
    >
      <ion-icon slot="start" name="arrow-redo"></ion-icon
      >保存しないで表示画面に戻る
    </ion-button>
    <ion-button [ngStyle]="bs.styleBtn" expand="block" (click)="slash()">
      <ion-icon slot="start" name="code-slash"></ion-icon>句読点に/を挿入する
    </ion-button>
    <ion-button [ngStyle]="bs.styleBtn" expand="block" (click)="copy()">
      <ion-icon slot="start" name="exit"></ion-icon>クリップボードにコピーする
    </ion-button>
    <ion-button [ngStyle]="bs.styleBtn" expand="block" (click)="paste()">
      <ion-icon slot="start" name="enter"></ion-icon
      >クリップボードからペーストする
    </ion-button>
    <ion-button
      *ngIf="showDelete"
      [ngStyle]="bs.styleBtn"
      expand="block"
      color="tertiary"
      (click)="delete()"
    >
      <ion-icon slot="start" name="trash"></ion-icon>文書を削除する
    </ion-button>
  </div>
  <p>&nbsp;</p>
</ion-content>
