<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="base">
    <ion-segment
      style="margin: 6px 0 8px 0"
      mode="ios"
      [(ngModel)]="contents"
      (ionChange)="contentsChanged()"
    >
      <ion-segment-button value="0">
        <ion-label>本文</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label>目次</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-segment
      *ngIf="contents == '0'"
      style="margin: 6px 0 8px 0"
      mode="ios"
      [(ngModel)]="mode"
      (ionChange)="modeChanged()"
    >
      <ion-segment-button value="1">
        <ion-label>全表示</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label>黒塗り</ion-label>
      </ion-segment-button>
    </ion-segment>
    <canvas
      id="ca1"
      #cv1
      [ngStyle]="stCv"
      (mousedown)="mouseDown($event)"
      (touchstart)="touchStart($event)"
      (mousemove)="mouseMove($event)"
      (touchmove)="touchMove($event)"
      (mouseup)="mouseUp($event)"
      (touchend)="touchEnd($event)"
    ></canvas>
    <div #tb1 class="tb">
      <ion-icon
        *ngIf="contents == '0' && mode == '2'"
        name="caret-forward"
        [ngStyle]="stF"
        (click)="pushed('1')"
      ></ion-icon>
      <ion-icon
        *ngIf="contents == '0' && mode == '2'"
        name="caret-back"
        [ngStyle]="stF"
        (click)="pushed('2')"
      ></ion-icon>
      <ion-icon
        *ngIf="contents == '0' && mode == '2'"
        name="chevron-forward"
        [ngStyle]="stF"
        (click)="pushed('3')"
      ></ion-icon>
      <ion-icon
        name="play-skip-forward"
        class="tb2"
        [ngStyle]="stF"
        (click)="pushed('4')"
      ></ion-icon>
      <ion-icon
        name="play-skip-back"
        class="tb2"
        [ngStyle]="stF"
        (click)="pushed('5')"
      ></ion-icon>
      <ion-icon
        name="add-circle-outline"
        [ngStyle]="stF"
        (click)="pushed('fp')"
      ></ion-icon>
      <ion-icon
        name="remove-circle-outline"
        [ngStyle]="stF"
        (click)="pushed('fm')"
      ></ion-icon>
    </div>
    <ion-button expand="block" (click)="change()">
      <ion-icon slot="start" name="create"></ion-icon>更新・変更する
    </ion-button>
  </div>
  <p>&nbsp;</p>
</ion-content>
