<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="base">
    <ion-segment
      style="margin: 6px 0 8px 0"
      mode="ios"
      [(ngModel)]="tab"
      (ionChange)="tabChanged()"
    >
      <ion-segment-button value="0">
        <ion-label [ngStyle]="bs.styleInput">本文</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-label [ngStyle]="bs.styleInput">目次</ion-label>
      </ion-segment-button>
      <!--
      <ion-segment-button value="2">
        <ion-label [ngStyle]="bs.styleInput">Box</ion-label>
      </ion-segment-button>
      -->
      <ion-segment-button value="3">
        <ion-label [ngStyle]="bs.styleInput">{{ wbname }}</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-segment
      *ngIf="tab == '0'"
      style="margin: 6px 0 8px 0"
      mode="ios"
      [(ngModel)]="modeText"
      (ionChange)="modeChanged()"
    >
      <ion-segment-button value="1">
        <ion-label [ngStyle]="bs.styleInput">全表示</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label [ngStyle]="bs.styleInput">黒塗り</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-segment
      *ngIf="tab == '1'"
      style="margin: 6px 0 8px 0"
      mode="ios"
      [(ngModel)]="modeContent"
      (ionChange)="modeChanged()"
    >
      <ion-segment-button value="1">
        <ion-label [ngStyle]="bs.styleInput">全表示</ion-label>
      </ion-segment-button>
      <ion-segment-button value="2">
        <ion-label [ngStyle]="bs.styleInput">黒塗り</ion-label>
      </ion-segment-button>
    </ion-segment>
    <canvas
      id="ca1"
      #cv1
      [ngStyle]="bs.styleCanvas"
      (mousedown)="mouseDown($event)"
      (touchstart)="touchStart($event)"
      (mousemove)="mouseMove($event)"
      (touchmove)="touchMove($event)"
      (mouseup)="mouseUp($event)"
      (touchend)="touchEnd($event)"
    ></canvas>
    <div #tb1>
      <div *ngIf="tab == '0' || tab == '1'">
        <div class="tb">
          <ion-icon
            name="caret-forward"
            [ngStyle]="bs.styleToolBtn1"
            (click)="pushed('1')"
          ></ion-icon>
          <ion-icon
            name="caret-back"
            [ngStyle]="bs.styleToolBtn1"
            (click)="pushed('2')"
          ></ion-icon>
          <ion-icon
            *ngIf="(tab == '0' && modeText == '2') || (tab == '1' && modeContent == '2')"
            name="chevron-forward"
            [ngStyle]="bs.styleToolBtn1"
            (click)="pushed('3')"
          ></ion-icon>
          <ion-icon
            name="play-skip-forward"
            [ngStyle]="bs.styleToolBtn2"
            (click)="pushed('4')"
          ></ion-icon>
          <ion-icon
            name="play-skip-back"
            [ngStyle]="bs.styleToolBtn2"
            (click)="pushed('5')"
          ></ion-icon>
          <ion-icon
            *ngIf="tab == '0'"
            name="arrow-forward-circle-outline"
            [ngStyle]="bs.styleToolBtn1"
            (click)="pushed('6')"
          ></ion-icon>
          <ion-icon
            *ngIf="tab == '0'"
            name="arrow-back-circle-outline"
            [ngStyle]="bs.styleToolBtn1"
            (click)="pushed('7')"
          ></ion-icon>
          <ion-icon
            *ngIf="hideBlock == false"
            src="assets/icon/block.svg"
            [ngStyle]="bs.styleSvgBtn1"
            (click)="pushed('9')"
          ></ion-icon>
          <ion-icon
            *ngIf="hideBlock == true"
            src="assets/icon/block.svg"
            [ngStyle]="bs.styleSvgBtn2"
            (click)="pushed('10')"
          ></ion-icon>
          <ion-icon
            name="add-circle-outline"
            [ngStyle]="bs.styleToolBtn1"
            (click)="pushed('fp')"
          ></ion-icon>
          <ion-icon
            name="remove-circle-outline"
            [ngStyle]="bs.styleToolBtn1"
            (click)="pushed('fm')"
          ></ion-icon>
          <ion-icon
            *ngIf="(tab == '0' && modeText == '1' && hideText == false) || (tab == '1' && modeContent == '1' && hideContent == false)"
            name="contrast-outline"
            [ngStyle]="bs.styleToolBtn2"
            (click)="pushed('8')"
          ></ion-icon>
          <ion-icon
            *ngIf="(tab == '0' && modeText == '1' && hideText == true) || (tab == '1' && modeContent == '1' && hideContent == true)"
            name="contrast"
            [ngStyle]="bs.styleToolBtn3"
            (click)="pushed('8')"
          ></ion-icon>
        </div>
        <ion-button [ngStyle]="bs.styleBtn" expand="block" (click)="change()">
          <ion-icon slot="start" name="create"></ion-icon>&nbsp;更新・変更する
        </ion-button>
      </div>

      <section *ngIf="tab == '3'">
        <ion-button
          [ngStyle]="bs.styleBtn"
          style="width: calc(50% - 5px)"
          (click)="strokeBack()"
          ><ion-icon slot="start" name="arrow-undo-outline"></ion-icon
          >&nbsp;戻す</ion-button
        >
        <ion-button
          [ngStyle]="bs.styleBtn"
          style="width: calc(50% - 5px); padding-left: 3px"
          (click)="strokeClear()"
          ><ion-icon slot="start" name="scan-outline"></ion-icon
          >&nbsp;消去</ion-button
        >
      </section>
    </div>
  </div>
  <p>&nbsp;</p>
</ion-content>
