<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>広告の解除</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="usage">
    <p>
      アプリ内ストアで「広告解除」を購入すると、広告が表示されなくなります。
    </p>
    <p>
      「広告解除(¥250)」をボタンを押して購入すると、<span *ngIf="isApple"
        >Apple</span
      ><span *ngIf="isGoogle">Google</span>から250円が課金されます。<br />
    </p>
    <div *ngIf="admob == false">
      <ion-button (click)="order('admob')">広告解除(¥250)</ion-button>
      <p><br /></p>
      <hr />
      <p>
        同じ <span *ngIf="isApple">Apple ID</span
        ><span *ngIf="isGoogle">Google ID</span>
        で購入済みなのに「購入済み」と表示されない場合は、「購入を復元」ボタンを押してください。
      </p>
      <p>
        <ion-button (click)="restore()">購入を復元</ion-button>
      </p>
    </div>
    <p *ngIf="admob == true">
      <span class="bought">購入済み</span>
    </p>
  </div>
  <p>&nbsp;</p>
</ion-content>
