doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title プライバシーポリシー - 文章暗記
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700")
    link(rel="stylesheet" href="../css/themes/default/jquery.mobile-1.4.5.min.css")
    link(rel="stylesheet" href="../assets/css/jqm-demos.css")
    link(rel="stylesheet" href="../css/style.css")
    script(src="../js/jquery.js")
    script(src="../assets/js/index.js")
    script(src="../js/jquery.mobile-1.4.5.min.js")
  body
    .jqm-demos(data-role="page" data-quicklinks="true")
      .jqm-header(data-role="header")
        h2
          a(href="../" title="jQuery Mobile Demos home")
            img(src="../img/icon3.png")
        p
          | プライバシーポリシー
        a.jqm-navmenu-link.ui-btn.ui-btn-icon-notext.ui-corner-all.ui-icon-bars.ui-nodisc-icon.ui-alt-icon.ui-btn-left(href="#") Menu
      .ui-content.jqm-content(role="main")
        p
          | 新田雅浩（以下、「私」）は、個人情報の保護は重要な社会的責務と捉えております。
          | 私は、以下の指針に基づき個人情報の保護に取り組みます。
        p  
        h2 個人情報に関する法令・規範の遵守
        p 私は、個人情報に関する法令およびその他の規範を遵守します。
        p  
        h2 個人情報の収集、利用および提供
        p
          | 私は、適切な個人情報の収集、利用および提供に関する規則を定め、これを遵守します。個人情報はご本人の同意を得た上で収集し、利用目的の範囲を超えて取り扱うことはありません。
        p  
        h2 個人情報の適正かつ安全な管理
        p
          | 私は、個人情報の適正な管理を行い、個人情報への不正アクセス、個人情報の紛失、破壊、改ざんおよび漏洩に対する万全の予防策を実施することにより、個人情報の安全性の確保を図ります。
        p  
        h2 コンプライアンス・プログラムの継続的改善
        p
          | 私は、個人情報保護を適切に維持するため、コンプライアンス・プログラムの運用状況について定期的に監査し、これを継続的に改善します。
        p  
        .box2
          | ※ 「文章暗記」のアプリを使用しても、個人情報の収集は行われません。
        p  
        p
          | 2020 年 9 月 22 日
          br
          | 新田 雅浩
        p  
        p
      .jqm-navmenu-panel(data-role="panel" data-position="left" data-display="overlay" data-theme="a")
        ul.jqm-list.ui-alt-icon.ui-nodisc-icon
          li(data-filtertext="demos homepage" data-icon="home")
            a(href=".././") Home
          li(data-filtertext="introduction overview getting started")
            a(href="../develop/" data-ajax="false") 開発情報
      .jqm-footer(data-role="footer" data-position="fixed" data-tap-toggle="false")
        p
          | Copyright © 2020 Masahiro Nitta.  -&nbsp;
          a(href="../develop/" data-ajax="false") Privacy
        p
      .jqm-search-panel(data-role="panel" data-position="right" data-display="overlay" data-theme="a")
        .jqm-search
          ul.jqm-list(data-filter-placeholder="Search demos..." data-filter-reveal="true")
            li(data-filtertext="demos homepage" data-icon="home")
              a(href=".././") Home
            li(data-filtertext="introduction overview getting started")
              a(href="../develop/" data-ajax="false") 開発情報
