/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.base {
  margin: 10px 16px 90px 10px;
  max-width: 800px;
}

.usage {
  margin: 12px 16px 90px 10px;
  max-width: 800px;
}

.base h2 {
  font-size: 14pt;
}

.base p {
  font-size: 12pt;
}
/*
.usage h2 {
  font-size: 14pt;
}

.usage h3 {
  font-size: 13.5pt;
  font-weight: bold;
  margin: 14px 0 5px 0;
}

.usage p {
  font-size: 13pt;
  margin: 2px 0 11px 0;
}

.usage li,
a {
  font-size: 13pt;
}

.usage hr {
  border-bottom: 1px solid gray;
  margin: 10px 0;
  width: 100%;
}
*/

.hr1 {
  border-bottom: 1px solid gray;
  margin: 6px 10px;
  width: 93%;
}

.fTbl {
  width: 100%;
  border-top: solid 1px gray;
  margin-top: 24px;
  margin-bottom: 38px;
}

.fTbl td {
  padding-top: 10px;
}

ion-list-header {
  margin-top: 16px;
  margin-bottom: 16px;
}

@media (prefers-color-scheme: dark) {
  .source {
    border: solid 1px #777777;
    background-color: #282828;
    padding: 4px 5px 2px 5px;
    margin: 0 2px 3px 2px;
  }
}

@media (prefers-color-scheme: light) {
  .source {
    border: solid 1px #b0b0b0;
    background-color: #f0f0f0;
    padding: 4px 5px 2px 5px;
    margin: 0 2px 3px 2px;
  }
}
